pipeline/pl_extraction_ot.json
{
	"name": "pl_extraction_ot",
	"properties": {
		"activities": [
			{
				"name": "config_file_lkp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_xml_config_lkp_ot_project6",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "config_file_lkp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('config_file_lkp').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "xml_extract_unzip",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().RelativeURL}"
								},
								{
									"name": "Destination",
									"value": "project-6-onetime/raw_xml_unzip_data/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings",
											"preserveZipFileNameAsFolder": false
										}
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_xml_extract_ot_project6",
									"type": "DatasetReference",
									"parameters": {
										"pBaseURL": {
											"value": "@item().BaseURL",
											"type": "Expression"
										},
										"pRelativeURL": {
											"value": "@item().RelativeURL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_extrcated_xml_adls_load_ot_project6",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "project#6-httpsXmlPasring_OT"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-01T11:04:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}