pipeline/pl_fileMigration.json
{
	"name": "pl_fileMigration",
	"properties": {
		"description": "This implementation is used to move the files from ADLS source container to ADLS target container in hierarchy (YYYY/MM/DD) format",
		"activities": [
			{
				"name": "GM_FileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_project_001",
						"type": "DatasetReference",
						"parameters": {
							"pSourceFileName": {
								"value": "@variables('vFileName')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GM_FileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GM_FileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "FileNameIterator",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "copy src to sink data hirerchey",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "FileNameIterator",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_project_001",
									"type": "DatasetReference",
									"parameters": {
										"pSourceFileName": {
											"value": "@variables('vFileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_project_001",
									"type": "DatasetReference",
									"parameters": {
										"pSInkFileName": {
											"value": "@variables('vFileName')",
											"type": "Expression"
										},
										"pSInkFolderPath": {
											"value": "@concat('sink/',formatDateTime(utcNow(),'yyyy/MM/dd'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete source files post completion",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "copy src to sink data hirerchey",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_source_project_001",
									"type": "DatasetReference",
									"parameters": {
										"pSourceFileName": {
											"value": "@variables('vFileName')",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ls_datalake_gen2",
										"type": "LinkedServiceReference"
									},
									"path": "logging"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"vFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "project#1-copyToHierarchy"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-25T04:20:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}