pipeline/pl_project010_incrementalLoad.json
{
	"name": "pl_project010_incrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "lkp_WaterMark_table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.config where table_name = '@{pipeline().parameters.source_table}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresql_project010",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp_WaterMark_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.source_table} where @{pipeline().parameters.source_timestamp} > '@{activity('lkp_WaterMark_table').output.firstRow.waterMark}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_azuresql_project010",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_010",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "upd_WaterMark_table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "update dbo.config set waterMark = (select max(@{pipeline().parameters.source_timestamp}) from @{pipeline().parameters.source_table} where table_name = '@{pipeline().parameters.source_table}')\nselect 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresql_project010",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"source_table": {
				"type": "string",
				"defaultValue": "transactions"
			},
			"source_timestamp": {
				"type": "string",
				"defaultValue": "trans_timestamp"
			}
		},
		"folder": {
			"name": "project#5-incementalLoading"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-25T04:20:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}